<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Car</title>
</head>
<body>

<form action="#" th:action="@{/processCar}"   th:object="${car}" method="post">

    <input type="hidden" th:field="*{id}">

    Model:  <input type="text" th:field="*{model}">
        <span th:if="${#fields.hasErrors('model')}"
              th:errors="*{model}"></span><br/>

    Year:  <input type="number" th:field="*{year}">
        <span th:if="${#fields.hasErrors('year')}"
              th:errors="*{year}"></span><br/>

    Price:  <input type="number" step="0.01" th:field="*{cost}">
        <span th:if="${#fields.hasErrors('cost')}"
              th:errors="*{cost}"></span><br/>

    Category:  <select th:field="*{catagory}" multiple>
                    <option th:each="catagory : ${catagories}"
                            th:text="${catagory.type}"
                            th:value="${catagory.id}">

                    </option>
                </select>

    <input type="submit" value="Submit">
</form>
</body>
</html>