<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Car</title>
    <th:block th:replace="base :: MetaLinks">...</th:block>

    <style>
        body {
            background-image: url("https://res.cloudinary.com/dv2nrlkn5/image/upload/v1563906679/50-Beautiful-and-Minimalist-Presentation-Backgrounds-07_hrqusx.jpg");
        }

    </style>
</head>
<body>
<th:block th:replace="base :: navbar">...</th:block>
<br/><br/><br/>
<form action="#" th:action="@{/processCar}" th:object="${car}" enctype="multipart/form-data" method="post">

    <input type="hidden" th:field="*{id}">

    <div class="form-row">

        <div class="form-group col-sm-4">
            <div class="container"
                 style="border-radius: 50px 50px 50px 50px; width: fit-content;  background-color: cornsilk"> Model:
            </div>
            <input type="text" class="form-control form-control-sm" th:field="*{model}">
            <span th:if="${#fields.hasErrors('model')}"
                  th:errors="*{model}"></span><br/>
        </div>

        <div class="form-group col-sm-4">
            <div class="container"
                 style="border-radius: 50px 50px 50px 50px; width: fit-content;  background-color: cornsilk">Year:
            </div>
            <input type="number" class="form-control form-control-sm" th:field="*{year}">
            <span th:if="${#fields.hasErrors('year')}"
                  th:errors="*{year}"></span><br/>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-4">
            <div class="container"
                 style="border-radius: 50px 50px 50px 50px; width: fit-content;  background-color: cornsilk">Price:
            </div>
            <input type="number" class="form-control form-control-sm" step="0.01" th:field="*{cost}">
            <span th:if="${#fields.hasErrors('cost')}"
                  th:errors="*{cost}"></span><br/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-4">
            <div class="container"
                 style="border-radius: 50px 50px 50px 50px; width: fit-content;  background-color: cornsilk">Category:
            </div>
            <select class="form-control form-control-sm" th:field="*{catagory}" multiple>
                <option th:each="catagory : ${catagories}"
                        th:text="${catagory.type}"
                        th:value="${catagory.id}">
                </option>
            </select>
            <div class="form-group">
                <div class="container"
                     style="border-radius: 50px 50px 50px 50px; width: fit-content;  background-color: cornsilk">Add A
                    Pic:
                </div>
                <input type="file" class="form-control-file" name="file" id="exampleFormControlFile1"
                       style="background-color: white">
                <span th:if="${#fields.hasErrors('pic')}"
                      th:errors="*{pic}"></span>
            </div>
        </div>
    </div>
    <input type="submit" value="Submit">
</form>


<th:block th:replace="base :: bootstrap">...</th:block>
</body>
</html>